@model List<Appointment>

@{
    ViewData["Title"] = "Appointment Page";
}

<h1>@ViewData["Title"]</h1>
<table>
    <thead>
    <tr>
        <th>Hasta T.C.</th>
        <th>Hasta Tam Ad</th>
        <th>Cinsiyet</th>
        <th>Randevu Tarihi</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var appointment in Model)
    {
        <tr>
            <td>@appointment.Patient.Tc</td>
            <td>@appointment.Patient.FullName</td>
            <td>@appointment.Patient.Gender</td>
            <td>@appointment.AppointmentDate.ToShortDateString()</td>
        </tr>
    }
    </tbody>
</table> 